* {
  padding: 0;
  margin: 0;
  background-color: #38ccb2;
}

.header {
  display: flex;
  justify-content: center;
  margin: 40px;
}

h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

h2,
p {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #3b3561;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  padding-right: 5px;
  font-weight: 700;
}

.or {
  padding-right: 5px;
  font-weight: 700;
  background-color: #38ccb2;
}

.search-bar {
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  outline: none;
}

button {
  padding: 2px 4px;
  border-radius: 5px;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
}

.results-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.results {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #ffffff;
  color: #cac7e1;
  background-color: #3b3561;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
